@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('//picsum.photos/1920/1080');
}

.fundo-madeira {
  background-image: url('../images/fundo.png');
}
